@font-face {
    font-family: Cyberverse;
    src: url(fonts/Cyberverse.otf);
}
:root {
    font-family: Cyberverse;
    font-size: 14vw;
    background: black;
    color: #22D1F8;
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.digit {
    width: 1em;
    display: inline-block;
    text-align: center;
}

.colon {
    transform: translateY(-.1455em);
}
