:root {
  font-size: 16;
  font-family: sans-serif;
}

.invalid-input {
  background: rgb(255, 173, 173);
}
.hide {
  display: none;
}

.footer-messages {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  text-align: center;
}