:root {
    font-size: 1.8vh;
    font-family: sans-serif;
}

body {
    background: rgb(200, 200, 200);
}

button {
    font-size: 1.6rem;
    padding: .2rem;
    margin: .2rem;
    border-radius: .2rem;
    user-select: none;
}

.gameholder {
    display: block;
    margin-top: 1rem;
    margin-bottom: 20px;
    width: 24rem;
    height: 24rem;
}

.controls,
h1,
.gameholder {
    margin-left: 2rem;
}


#game {
    border: none;
    box-shadow: 3px 3px 10px grey;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}


.cell:nth-child(1) {
    border-radius: .5rem 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 .5rem 0 0;
}

.cell:nth-child(7) {
    border-radius: 0 0 0 .5rem;
}

.cell:nth-child(9) {
    border-radius: 0 0 .5rem 0;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 33.333%;
    height: 33.333%;
    text-align: center;
    box-sizing: border-box;
    line-height: 8rem;
    transition: background .25s;
}

.cell span {
    font-size: 5rem;
    user-select: none;
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    transform: scale(1, 1);
    transition: transform .15s;
}

@keyframes animation_disabe {
    0% {
        transform: rotate(0deg) scaleY(1.5);
    }

    25% {
        transform: rotate(-10deg) scaleY(1.5);
    }

    75% {
        transform: rotate(10deg) scaleY(1.5);
    }

    100% {
        transform: rotate(0deg) scaleY(1.5);
    }
}

@keyframes animation_win {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(.5, .5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes animation_aistep {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}


.cell.aistep span {
    animation: animation_aistep .5s 1;
}

.cell:active span,
.cell.numpad span {
    animation: animation_disabe .1s infinite;
}

.cell.blind span {
    color: transparent;
    transition: color .3s;
    transition-delay: .3s;
}


.cell.freecell:active span,
.cell.freecell.numpad span {
    transform: scale(1.5, 1.5);
    transition: transform .15s;
    animation: none;
}

.cell.win span {
    animation: animation_win .5s infinite;
}

.cell.backstep span {
    transform: scale(0, 0);
    transition: transform .3s;
}

.cell:nth-child(2n) {
    background: rgb(190, 190, 190);
}

.cell:nth-child(2n+1) {
    background: rgb(210, 210, 210);
}

.cell:nth-child(2n):hover {
    background: rgb(140, 190, 190);
}

.cell:nth-child(2n+1):hover {
    background: rgb(160, 210, 210);
}

.cell:nth-child(2n).win,
.cell:nth-child(2n).win:hover {
    background: rgb(190, 150, 150);
}

.cell:nth-child(2n+1).win,
.cell:nth-child(2n+1).win:hover {
    background: rgb(210, 150, 150);
}

.comments {
    font-size: 1.2rem;
    display: block;
    padding-top: .5rem;
}

#result {
    font-size: 1.5rem;
}

.players {
    font-size: 1.6rem;
    display: block;
    background: rgb(139, 177, 179);
    width: 24rem;
    box-shadow: .1em .1em .1em gray;
    border-radius: .2em;
}

.pname {
    font-size: 1rem;
    box-shadow: 0 .05em .1em gray;
    border-radius: .1em;
}

.players .comments {
    display: block;
    text-align: center;
}

.player {
    margin: 1%;
    border-radius: .1em;
    background: rgb(255, 255, 255, .1);
    box-shadow: .03em .1em .1em gray;
    box-sizing: border-box;
}

.players .player {
    display: inline-block;
    width: 47%;
    /* background: white; */
}

.player1 .pcontent {
    text-align: right;
    margin-right: .1em;
}

.player1 .wins::after {
    content: ":";
    position: absolute;
    padding-left: .25em;
    margin-top: -.1em;
}

.player2 .pcontent {
    text-align: left;
    margin-left: .1em;
}

.player select {
    font-size: .5em;
    background: rgb(255, 255, 255, .5);
}


.time {
    font-size: .8em;
}

.players .center {
    font-size: .5em;
    display: block;
    margin: auto;
    padding: .5em
}

.players .center .draws {
    display: block;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}

.players .center .button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    display: block;
    margin-bottom: .5em;
    border-radius: .4em;
}

.players .center .button-small {
    display: inline;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .1em;
    margin-right: .1em;
}

.players .center .options {
    display: block;
    margin: auto;
    text-align: center;
}

.players .center .options * {
    margin: .25em;
    font-size: .95em;
}

/*
checkbox
*/

input.tgl-btn3 {
    display: none;
    text-align: left;
}

input.tgl-btn3+label.tgl-btn3 {
    user-select: none;
    text-align: left;
}

input.tgl-btn3+label.tgl-btn3 div.tgl-btn3 {
    display: inline-block;
    position: relative;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border: none;
    width: 2em;
    height: 1em;
    top: 0.15em;
    left: 0em;
    border-radius: 2em;
    user-select: none;
    transition: background-color .3s
}

input.tgl-btn3:checked+label.tgl-btn3 div.tgl-btn3 {
    background-color: #9fd6ae;
    transition: background-color .3s
}

input.tgl-btn3+label.tgl-btn3 div.tgl-btn3::before {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 2em;
    left: 0em;
    top: 0em;
    background-color: #fff;
    transition-duration: .3s;
    transition-property: left border;
}

input.tgl-btn3:checked+label.tgl-btn3 div.tgl-btn3::before {
    background-color: #fff;
    left: 1em;
    border: 2px solid #9fd6ae;
    transition-duration: .3s;
    transition-property: left border;
}